@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@100;300;400;500;600&family=Playfair+Display&family=Ysabeau+SC:wght@200&display=swap');

body{
    font-family: 'Hanken Grotesk', sans-serif;
}
:root{
    --gradiente: linear-gradient(hsl(252,100%,67%), hsl(241,81%,54%));
}
.padre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.summaryScreen{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: auto;
    padding: 1px;
    border-radius: 25px;
    box-shadow: 5px 25px 40px hsl(221,100%,96%), 
                -5px 25px 40px hsl(221,100%,96%),
                5px -2px 40px hsl(221,100%,96%),
                -5px -2px 40px hsl(221,100%,96%);
}
.box{
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241,81%,54%));
    align-items: center;
    justify-content: center;
    text-align: center;
}
.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}
h1{
    color: hsl(241,100%,89%);
    font-size: 17px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}
h2{
    color: hsl(0,0%,100%);
    margin-bottom: 0%;
    font-weight: 500;
}
h3{
    padding-left: 8%;
    color: hsl(224,30%,27%);
}
#grade{
    font-size: 60px;
    font-weight: 800;
    margin-top: 10%;
    margin-bottom: 0%;
    color: hsl(0,0%,100%);
}
#greatText{
    color: hsl(241,100%,89%);
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
}
#textCircle{
    color: hsl(241,100%,89%);
    margin-top: 0%;
}

p{color: hsl(221,100%,96%);}

.element{
    /*Grid*/
    display: grid;
    grid-template-columns: 30px auto auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-weight: 700;
}
.features{
    margin-left: 8%;
    margin-right: 8%;
}
.image{
    display: flex;
    align-self: center;
}

#reaction{
    color: hsl(0,100%,67%);
    align-self: center;
}
#color1{
    background-color: hsl(0, 100%, 98%);
}
#memory{
    color: hsl(39,100%,56%);
    align-self: center;
}
#color2{
    background-color: hsl(39,100%,97%);
}
#verbal{
    color: hsl(166, 100%, 37%);
    align-self: center;
}
#color3{
    background-color: hsl(166, 100%, 97%);
}
#visual{
    color: hsl(234, 85%, 45%);
    align-self: center;
}
#color4{
    background-color: hsl(234, 85%, 97%);
}
.score{
    display: flex;
    justify-content: flex-end;
    color: hsl(241,100%,89%);
}
.scoreBlue{
    color: hsl(224,30%,27%);
    margin-right: 7px;
}
.continue{
    text-align: center;
    background: hsl(224, 30%, 27%);
    color: white;
    border-radius: 30px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 20px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.6s;
}
h4{
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*
-- @media (hover: hover) -- 
    English: This piece of code changes the color of the button when the cursor passes over it (if you aren't in a mobile device)
    Español: Esta parte del código cambia el color del botón cuando se pasa el cursor por encima de este (si no estás en un dispositivo móvil)
*/
@media (hover: hover){
    .continue:hover{
        background: var(--gradiente);
        color: white;
    }
}

@media screen and (max-height:950px) and (min-width:500px) and (orientation: portrait){
    .padre{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .box{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}

@media screen and (min-width:800px) and (orientation: landscape) {
    .padre{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .summaryScreen{
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .sonBox1{
        display: flex;
    }
    .sonBox2{
        display: flex;
        flex-direction: column;
    }
    .box{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 450px;
        width: 320px;
    }
    .summary{
        background-color: white;
        width: 320px;
    }
    .circle{
        width: 180px;
        height: 180px;
    }
    .continue{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h1{
        margin-top: 10px;
        font-size: 22px;
        font-weight: 500;
    }
    h2{
        font-size: 27px;
    }
    #greatText{
        font-size: 16px;
    }
    h3{
        font-size: 22px;
    }
    h4{
        padding-top: 0;
        padding-bottom: 0;
    }
}